<main style="padding: 20px;">
    <div style="margin-bottom:10px">
        <label for="search">Search</label>
        <input id="search" type="text" placeholder="Search bikes..."/>
    </div>

    <div style="display: flex; gap: 20px; flex-wrap: wrap; justify-content: space-evenly;">
        <div th:each="bike : ${bikes}" class="bike__box">
            <h4>Model: <span th:text="${bike.model}">Bike Model</span></h4>
            <img th:src="${bike.imageSource}" height="70" width="70" th:alt="${bike.model}"/>
            <span>Stock: <span th:text="${bike.availableStock}">0</span></span>
            <span>Details: <span th:text="${bike.details}">Details</span></span>
            <span>Electric: <span th:text="${bike.electric} ? 'Yes' : 'No'">No</span></span>
            <span>Price: <span th:text="${bike.price}">0.0</span>€</span>

            <button class="btn" th:disabled="${!bike.inStock}" th:attr="mfe-id=${bike.id}">Add to cart</button>
        </div>
    </div>
</main>
