.bike__box {
    height: 250px;
    width: 250px;
    background-color: #dbe7d6;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px
}